/* GLOBAL */
html, body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

#web-container{
    display: grid;
    grid-template-rows:auto auto;
}
#web-torso{
    display:grid;
    grid-template-rows: auto auto;
}
/* HEADER */
#web-header{
    background: black;
    /* background-image:linear-gradient(to right, black, rgba(0, 0, 0, 0.48)); */
    color:white;
    display: flex;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 5px 10px black;
    z-index: 1;
}
#web-header div {
    margin: 0 auto;
}
#web-header img {
    width:80px;
}
#web-header a{
    font-size: 25px;
}
/* BODY */
#web-body{
    margin-top: 1px;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
#body-banner{
    background: url('img/body-bannerbg.jpg');
    background-size: cover;
    position: relative;
    padding: 5em;
    text-align: center;
}
#body-banner img {
    width: 600px;
}
#body-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    margin-bottom: 20px;
}
/* LEFT */
#body-submit {
    display: grid;
    grid-template-rows: auto auto auto;
    color:white;
    background: #6A6A6A;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 5px black;
    padding: 10px 2em;
    text-align: justify;
    font-weight: lighter;
}
#body-submit div:nth-child(1) {
    border-bottom: 1px solid white;
}
#body-submit h4 {
    font-size: 25px;
    text-align: left;
}
#body-submit p {
    font-size: 28px;
    text-align: left;
}
#body-submit form input {
    width: 90%;
    padding: 1em;
    border-radius: 10px;
    box-shadow: -1px 3px 1px black;
    border: 1px solid black;
}
/* RIGHT */
#body-info{
    background: url('img/body-infobg.jpg');
    background-size: 1300px 500px;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
    color: white;
    padding: 1em 3em;
    box-shadow: 0 2px 5px black;
}
#body-info p {
    font-size: 35px;
    font-weight: 400;
}
#body-info a{
    color: blue;
    font-weight: bold;
    font-size: 20px;
}
#body-info a i {
    color: white;
    font-size: 15px;
}
/* FOOTER */
#web-footer{
    display: grid;
    grid-template-rows: auto auto;
    background: #B2B2B2
}
#web-footer img{
    width:50px;
}
#footer-links {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
#footer-links > div {
    margin: 0 50px;
}

#footer-links > div > a {
    display: block;
}
#footer-social h5{
    margin: 0;
    padding: 0;
}
#footer-social{
    margin: 1em;
    text-align: center;
}
#footer-social img {
    width: 40px;
    margin: 10px;
    border-radius: 50%;
}
